#page-wrap {
    width: 625px;
    margin: 0 auto;
    text-align: center;
}

.ball {
    border-radius: 50%;
    border: dashed black 3px;
    width: 50px;
    height: 50px;
    background-color: white;
    margin: 0 25px;
    margin-bottom: 25px !important;
    margin-top: 25px !important;
    float: left;
}

button {
    text-align: center !important;
}

#main, #reset, #submit {
    display: none;
}